<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
  
    <h1>Login here</h1>
  
    <form actions="/login" method="POST">
        <% if (messages.error)  { %>
            <%= messages.error %>
        <%} %>
        <label>Email:</label>
        <input type="email" placeholder="Email" name="email" id ="email">
        <label>Password:</label>
        <input type="password" placeholder="Password" name="password" id ="password"><br>
        <input type="submit" value="Login">
     <a href="/register">Register</a>
    </form>
</body>
</html>