<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <form action="/register" method="POST">
    <label>Name:</label>
    <input type="text" placeholder="Full name" name="name" id ="name">
    <label>Phone Number:</label>
    <input type="text" placeholder="Phone number" name="Phone" id ="phone">
    <label>Email:</label>
    <input type="email" placeholder="Email" name="email" id ="email">
    <label>Password:</label>
    <input type="password" placeholder="Password" name="password" id ="password"><br>
    <input type="submit" value="Register">
    <a href="/login">Login </a>
    </form>
</body>
</html>